In [1]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [119]:
print(2+4)# operation
# + operator
# 2, 4 operand
#PEMDAS
print(2*4+4/5*4-3)
#8+4/20-3
#8+0.2-3
#8.2-3
#5.2

6
8.2

In [89]:
a=7
type(a)#pass by refrence

int

In [90]:
b=20.56
type(b)

float

In [91]:
c=True
type(c)

bool

In [92]:
d="""Pakistan"""
type(d)

str

In [93]:
#index    0       1        2         3
names=["Aresha","Arshad",242982,True]
#index  -4       -3        -2    -1
type(names)

list

In [1]:
#index    0       1        2         3
names=("Aresha","Arshad",242982,True)
#index  -4       -3        -2    -1
print(names)
print(names[2])
type(names)

('Aresha', 'Arshad', 242982, True)
242982

tuple

In [95]:
names=("Aresha","Arshad",242982,True)
type(names)

tuple

In [96]:
names={"Aresha","Arshad",242982,True}
type(names)

set

In [97]:
set1={"aresha","rubab","shahba",5,2,0.7}

In [98]:
set1

{0.7, 2, 5, 'aresha', 'rubab', 'shahba'}

In [99]:
set1=["aresha","rubab","shahba",5,2,0.7]
type(set1)

list

In [100]:
data={"name":"aresha","father_name":"arshad",1:"pakistan"}
data["father_name"]

'arshad'

In [101]:
type(data)#dictionary

dict

In [102]:
list(data)

['name', 'father_name', 1]

In [103]:
print(data)

{'name': 'aresha', 'father_name': 'arshad', 1: 'pakistan'}

In [104]:
print(data[1])

pakistan

In [105]:
title1="aREsha"
title2="aresha"
print(title1==title2)
print(title1)

False
aREsha

In [106]:
n1="aresha"
n2="aliza"
n3="ayesha"
print(n1, n2, n3, sep="\n")

aresha
aliza
ayesha

In [107]:
n1="aresha"
n2="aliza"
n3="ayesha"
print(n1, n2, n3, sep="\t")

aresha	aliza	ayesha

In [108]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [109]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [2]:
n1="aresha"
n2="aliza"
n3="ayesha"
n1=n1.lstrip()
print(len(n1.lstrip()))
n2=n2.title()
print(n2)
n3=n3.startswith("a")
print(n3)

6
Aliza
True

In [111]:
a="Some people have curly brown hairs through proper brushing."
a.find("brown")

23

In [112]:
a[17:34:1]#start:end:step

'curly brown hairs'

In [113]:
a="Some people have curly brown hairs through proper brushing."
a[a.find("curly"):43]

'curly brown hairs through '

In [114]:
b=a.split()
print(b)

['Some', 'people', 'have', 'curly', 'brown', 'hairs', 'through', 'proper', 'brushing.']

In [115]:
names="Aresha"
fname="Arshad"
program='NUST'
# important
print(" Student Name: %s \n Father Name: %s \n Program : %s"%(names, fname, program))

 Student Name: Aresha
 Father Name: Arshad
 Program : NUST

In [116]:
names="Aresha"
fname="Arshad"
program='NUST'
#+
"student name: "+ names +"\n father name: "+ fname

'student name: Aresha\n father name: Arshad'

In [117]:
name="Aresha"
fname="Arshad"
program='NUST'
f"student {name} \n \
father name {fname}"

'student Aresha \n father name Arshad'